.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    // padding: 1rem; // Optional: Add global padding or leave to individual pages
}